.qg-cardtopper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.qg-header{
    text-align: center;
    flex-grow: 1;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
}

.qg-edit-div{
    position: absolute;
    right: 1%; /* Adjust as needed */
    .qg-edit-button{
    }
}

.qg-card{
    margin-left: 15%;
    margin-right: 15%;
}


.q-ul{
    
    margin-top: 2rem;
    list-style: none;
    font-weight: 600;
    
}


.q-li{

    list-style: none;
    display: flex;
    justify-content: center;

    .q-container {
        display: flex;
        width: 100%;
        align-content: center;
        margin-left: 13%;

    }
        
    .q-card{
        background-color: rgb(243, 237, 255);
        width: 80%;
        margin-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .q-body{
        font-size: 20px;
        margin-top: 0.5rem;
    }
    
    .q-response{
        .q-response-input{
            margin-bottom: 1.25rem;
            float: left;
            width:90%;
        }
    }

    .q-submit{
        float: right;
        margin-top: -10px;
    }

    .q-save{
        float: right;
        margin-top: -10px;
    }

    .q-add{
        float: right;
        aspect-ratio: 1;
        height: 80px;
        width: 80px;
        margin-bottom: 2rem;
    }

    .q-add-btn{


    }
}

